{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
     <h1>Изменение книги</h1>
    <div class="ContentDataSection">
        <div class="DataButton">
            {{ include('book/_form.html.twig', {'button_label': 'Изменить'}) }}
        </div>
    </div>
        <div class="ContentDataSection">
        <div class="DataButton">
            {{ include('book/_delete_form.html.twig') }}
            {{ include('book/_delete_img.html.twig') }}
            {{ include('book/_delete_file.html.twig') }}
        </div>
    </div>

    
{% endblock %}
