<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
                        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        {% endblock %}
    </head>
    <body>
    {{ include('Default/Header.html.twig') }}
        {% block body %}
        
        {% endblock %}
        {{ include('Default/Footer.html.twig') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
 